$main_color: #009688;
$secondary_color: #d9dbd5;
$gradient: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
$white: #fff;

$text_main_color: #111;
$text_secondary_color: #51585c;
$text_color: #f5f5f5;



$border_round: 50%;

$gap_lg: 2rem;
$gap_md: 1rem;
$gap_sm: 0.5rem;

$base: 5px;